* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-image: url(img/backgroundimg.png);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.list__container {
  background-color: whitesmoke;
  height: 600px;
  width: 400px;
  margin: 250px auto;
  opacity: 0.7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  padding: 20px;
  font-size: 36px;
}

.shopping__list {
  margin: 0 20px;
  height: 80%;
  overflow-y: auto;
}

.shopping__list > li {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 10px;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add > input {
  width: 80%;
  padding: 5px;
  margin: 10px;
  border: none;
  text-align: center;
}

.add > button {
  font-size: 36px;
  margin-bottom: 10px;
  transition: transform("smooth");
}
.add > button:hover {
  color: lightblue;
  transform: scale(1.1);
  transition: all 250ms ease;
}

.minus_btn:hover {
  color: darkred;
  transform: scale(1.1);
  transition: all 250ms ease;
}
